@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap");

:root {
  --white-color: #ffffff;
  --turquoise-color: #00ffc8;
  --circle-pink-color-codePresentation: #ff5f56;
  --circle-yellow-color-codePresentation: #ffbd2e;
  --circle-green-color-codePresentation: #27c93f;
  --principal-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Fira Sans", sans-serif;
  --bg-color-codePresentation: #171a1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
}

body {
  background: linear-gradient(
    -45deg,
    #054739,
    #042b22,
    #031c22,
    #030a22,
    #100322,
    #03061f,
    #1c1e22
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  font-family: var(--principal-font-family);

  .nav__links {
    display: flex;
    gap: 3rem;
  }

  .nav__sections {
    li {
      list-style: none;
      &:first-child {
        border-bottom: 0.15rem solid var(--white-color);
      }
    }

    li a {
      position: relative;
      font-weight: 300;
      font-size: 1rem;
      color: var(--white-color);
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3px;
        width: 0%;
        height: 0.1rem;
        background-color: var(--white-color);
        transition: all 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .nav__icons {
    i {
      color: var(--white-color);
      font-size: 1.6rem;

      &:hover {
        transform: scale(1.2);
        transition: 0.2s all;
      }
    }
  }
}

@media (max-width: 720px) {
  .nav {
    justify-content: center;
    padding: 2rem 1rem;

    .nav__icons {
      display: none;
    }
  }
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 70vh;

  .cover__text-presentation {
    h1 {
      font-size: clamp(2rem, 5vw, 3.5rem);
      font-family: var(--principal-font-family);

      &:first-child {
        color: var(--turquoise-color);
        font-weight: 400;
      }

      &:nth-child(2) {
        color: var(--white-color);
      }

      &:nth-child(3) {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--turquoise-color);
      }
    }
  }

  .cover__code-presentation {
    width: min(100%, 40rem);
    background-color: var(--bg-color-codePresentation);
    border: 1px solid #ffffff30;
    border-radius: 1rem 1rem 0 0;
    font-weight: 300;
    font-family: var(--secondary-font-family);

    &--user {
      margin: 0.5rem;
      & div:first-child {
        position: absolute;
        padding-left: 0.5rem;

        .fa-circle:first-child {
          font-size: 0.6rem;
          color: var(--circle-pink-color-codePresentation);
        }
        .fa-circle:nth-child(2) {
          font-size: 0.6rem;
          color: var(--circle-yellow-color-codePresentation);
        }
        .fa-circle:nth-child(3) {
          font-size: 0.6rem;
          color: var(--circle-green-color-codePresentation);
        }
      }

      & div:nth-child(2) {
        display: flex;
        justify-content: center;

        p {
          padding: 0.2rem 5rem;
          color: var(--white-color);
          background-color: #202226;
          font-size: 0.8rem;
          border-radius: 1rem;
        }
      }
    }

    &--info {
      padding: 4rem 3rem;

      .code-presentation__info--css {
        > div,
        > p {
          padding: 0.5rem 1rem;
        }

        .pink-color {
          color: var(--circle-pink-color-codePresentation);
        }
        .yellow-color {
          color: var(--circle-yellow-color-codePresentation);
        }
        .turquoise-color {
          color: var(--turquoise-color);
        }
        p {
          color: var(--white-color);
        }
        i {
          color: #6f6f6f;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .cover {
    flex-direction: column;
    align-items: inherit;
    padding: 0 2rem;
    height: 110vh;

    .cover__code-presentation {
      & div:first-child {
        .fa-circle:first-child,
        .fa-circle:nth-child(2),
        .fa-circle:nth-child(3) {
          font-size: 0.5rem;
        }
      }

      &--user {
        div:nth-child(2) {
          p {
            padding: 0.2rem 2rem;
          }
        }
      }
    }
  }
}
