@import url(https://db.onlinewebfonts.com/c/34e23dd51b4e6f71165cb62eff021e01?family=Archivo+Expanded);
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
}

html {
  background-color: #f1f1f1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  font-family: "Archivo Expanded";
}
.nav .nav__links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav .nav__sections li {
  list-style: none;
}
.nav .nav__sections li a {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  color: #0e1018;
  text-decoration: none;
}
.nav .nav__sections li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0%;
  height: 0.1rem;
  background-color: #0e1018;
  transition: all 0.3s ease-in-out;
}
.nav .nav__sections li a:hover::after {
  width: 100%;
  left: 0;
}
.nav .nav__icons i {
  color: #0e1018;
  font-size: 1.6rem;
}
.nav .nav__icons i:hover {
  transform: scale(1.2);
  transition: 0.2s all;
  cursor: pointer;
}

@media (max-width: 720px) {
  .nav {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
  }
}
.switch {
  display: block;
  position: relative;
  width: 3rem;
  height: 2rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #f1f1f1;
}
.switch input:checked + .slider:before {
  left: calc(100% - 1.7rem);
  background: #f1f1f1;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0e1018;
  transition: 0.4s;
  border-radius: 30px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

html.dark-mode {
  background-color: #0e1018;
}
html.dark-mode body .nav .nav__sections li a {
  color: #f1f1f1;
}
html.dark-mode body .nav .nav__sections li a::after {
  background-color: #f1f1f1;
}
html.dark-mode body .nav .nav__icons i {
  color: #f1f1f1;
}
html.dark-mode body .cover .cover__text-presentation h1 {
  color: #f1f1f1;
}
html.dark-mode body main .main__title {
  color: #f1f1f1;
}
html.dark-mode body main .main__grid--cards {
  background-color: #0e1018;
  border: 1px solid #f1f1f1;
}
html.dark-mode body main .main__grid--cards .card__img img {
  border: 1px solid #f1f1f1;
}
html.dark-mode body main .main__grid--cards .card__info--title {
  color: #f1f1f1;
}
html.dark-mode body main .main__grid--cards .card__info button {
  color: #f1f1f1;
  background: #0e1018;
  border: 1px solid #f1f1f1;
}
html.dark-mode body main .main__grid--cards .card__info button:hover {
  color: #0e1018;
  background-color: #f1f1f1;
  transform: scale(1.05);
  transition: 0.5s all;
}
html.dark-mode body main .container-uxui-case-options .arrow-left-icon {
  color: #f1f1f1;
  background-color: #0e1018;
  border: 1px solid #f1f1f1;
}
html.dark-mode body main .container-uxui-case-options .arrow-left-icon:hover {
  color: #0e1018;
  background-color: #f1f1f1;
}
html.dark-mode body main .container-uxui-case-options div a {
  color: #f1f1f1;
}

.cover {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 70vh;
}
.cover .cover__text-presentation--photo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cover .cover__text-presentation--photo div {
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
}
.cover .cover__text-presentation--photo div img {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #ff0080;
  border-radius: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.cover .cover__text-presentation h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-family: "Archivo Expanded";
}
.cover .cover__text-presentation h1:first-child {
  color: #0e1018;
  font-weight: 400;
}
.cover .cover__text-presentation h1:first-child span {
  color: #ff0080;
}
.cover .cover__text-presentation h1:nth-child(2) {
  color: #0e1018;
}
.cover .cover__text-presentation h1:nth-child(3) {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ff0080;
  animation: typing 4s steps(30) infinite, blink 0.5s step-end;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff0080;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.cover .cover__container {
  display: flex;
  flex-direction: column;
}
.cover .cover__container .cover__code-presentation {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #0e1018;
  border: 1px solid rgba(241, 241, 241, 0.3568627451);
  border-radius: 0.5rem;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
}
.cover .cover__container .cover__code-presentation--numbers p {
  padding-bottom: 0.02rem;
  color: rgba(241, 241, 241, 0.3568627451);
}
.cover .cover__container .cover__code-presentation--info .blue-color {
  color: #ff0080;
}
.cover .cover__container .cover__code-presentation--info .purple-color {
  color: #ff8c00;
}
.cover .cover__container .cover__code-presentation--info .turquoise-color {
  color: #00ffc8;
}
.cover .cover__container .cover__code-presentation--info p {
  color: #f1f1f1;
  padding-left: 1rem;
}
.cover .cover__container .cover__code-presentation--info i {
  color: rgba(241, 241, 241, 0.3568627451);
}

@media (max-width: 720px) {
  .cover {
    flex-direction: column;
    align-items: inherit;
    padding: 0 2rem 2rem;
    height: 110vh;
  }
  .cover .cover__container {
    display: flex;
    flex-direction: column;
  }
  .cover .cover__container .cover__code-presentation {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #0e1018;
    border: 1px solid rgba(241, 241, 241, 0.3568627451);
    border-radius: 0.5rem;
  }
}
main {
  padding: 0 4rem;
  font-family: "Archivo Expanded";
}
main .main__title {
  color: #0e1018;
  padding-bottom: 2rem;
}
main .main__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 4rem;
}
main .main__grid a {
  text-decoration: none;
}
main .main__grid--cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #0e1018;
  border-radius: 1rem;
  background-color: #f1f1f1;
}
main .main__grid--cards .card__img {
  width: 6rem;
}
main .main__grid--cards .card__img img {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #0e1018;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main__grid--cards .card__info {
  width: 10.5rem;
  color: #0e1018;
}
main .main__grid--cards .card__info--tag {
  color: #ff0080;
  font-size: 0.7rem;
  font-family: "Fira Sans", sans-serif;
}
main .main__grid--cards .card__info--title {
  padding-bottom: 1.2rem;
  font-weight: 700;
}
main .main__grid--cards .card__info button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: #f1f1f1;
  border: 1px solid #0e1018;
  font-family: "Archivo Expanded";
}
main .main__grid--cards .card__info button div {
  display: grid;
  place-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #ff0080;
  border-radius: 1rem;
}
main .main__grid--cards .card__info button div i {
  color: #ff0080;
}
main .main__grid--cards .card__info button:hover {
  color: #f1f1f1;
  background-color: #0e1018;
  transform: scale(1.05);
  transition: 0.5s all;
}

@media (max-width: 720px) {
  main {
    padding: 0 2rem 2rem;
  }
  main .main__articles-left {
    flex-direction: column;
  }
  main .main__articles-left--image {
    width: 100%;
  }
  main .main__articles-right {
    flex-direction: column-reverse;
  }
  main .main__articles-right--image {
    width: 100%;
  }
}
.container-uxui-case-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container-uxui-case-options .arrow-left-icon {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  background-color: #f1f1f1;
  border: 1px solid #0e1018;
  border-radius: 2rem;
}
.container-uxui-case-options .arrow-left-icon:hover {
  color: #f1f1f1;
  background-color: #0e1018;
}
.container-uxui-case-options div {
  color: #ff0080;
}
.container-uxui-case-options div a {
  text-decoration: none;
  color: #0e1018;
}

.container-uxui-case {
  width: 100%;
}
.container-uxui-case .uxui-case-image {
  width: min(100%, 80rem);
  height: 100%;
}
.container-uxui-case div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
.container-uxui-case div .prototype-screen {
  width: min(100%, 40rem);
  height: 100%;
}
.container-uxui-case div .prototype-gadget {
  width: min(100%, 20rem);
  height: 100%;
}/*# sourceMappingURL=style.css.map */