@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@font-face {
  font-family: "Nightydemo";
  src: url("/multimedia/Nightydemo.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
}

html {
  background-color: #fff5f5;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  font-family: "League Spartan", sans-serif;
}
.nav .nav__links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav .nav__sections li {
  list-style: none;
}
.nav .nav__sections li a {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  color: #0e0e0e;
  text-decoration: none;
}
.nav .nav__sections li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0%;
  height: 0.1rem;
  background-color: #e71e1e;
  transition: all 0.3s ease-in-out;
}
.nav .nav__sections li a:hover::after {
  width: 100%;
  left: 0;
}
.nav .nav__icons i {
  color: #0e0e0e;
  font-size: 1.6rem;
}
.nav .nav__icons i:hover {
  transform: scale(1.2);
  transition: 0.2s all;
  cursor: pointer;
}

@media (max-width: 720px) {
  .nav {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .nav .nav__sections li a {
    font-size: 0.8rem;
  }
}
.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 6rem 10rem;
}
.hero-section .cover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.hero-section .cover .cover__text-presentation--title {
  font-size: clamp(3rem, 10vw, 4.5rem);
  font-family: "Nightydemo";
  color: #e71e1e;
}
.hero-section .cover .cover__text-presentation--subtitles {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.hero-section .cover .cover__text-presentation--subtitles div img {
  width: clamp(3rem, 10vw, 6rem);
  height: clamp(3rem, 10vw, 6rem);
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .cover .cover__text-presentation--subtitles div {
  display: block;
}
.hero-section .cover .cover__text-presentation--subtitles div h2:first-child {
  padding-bottom: 0.5rem;
  font-size: clamp(2rem, 6vw, 2.8rem);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #0e0e0e;
}
.hero-section .cover .cover__text-presentation--subtitles div h2:nth-child(2) {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #e71e1e;
}
.hero-section .cover .cover__container img {
  width: clamp(20rem, 40vw, 40rem);
  height: clamp(10rem, 20vw, 20rem);
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .arrow {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  color: #fff5f5;
  background-color: #e71e1e;
}

@media (max-width: 720px) {
  .hero-section {
    padding: 3rem 1rem 6rem 1rem;
  }
  .hero-section .cover {
    flex-direction: column;
    gap: 2rem;
  }
}
.projects-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding: 10rem 5rem;
}
.projects-section h1 {
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: #0e0e0e;
}
.projects-section h1 span {
  color: #e71e1e;
}
.projects-section--photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.projects-section--photos div img {
  width: clamp(15rem, 40vw, 30rem);
  height: clamp(18rem, 46vw, 36rem);
  -o-object-fit: cover;
     object-fit: cover;
}
.projects-section--photos .socialmedia img {
  width: clamp(4rem, 80vw, 70rem);
  height: clamp(9.5rem, 42vw, 36rem);
}

@media (max-width: 720px) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-section--photos {
    gap: 1.5rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 6rem 15rem;
}
footer h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(2.5rem, 7vw, 4rem);
  font-family: "Nightydemo";
  color: #e71e1e;
}
footer h1 span {
  padding-top: 0.5rem;
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #0e0e0e;
}
footer h1:nth-child(2) {
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #0e0e0e;
}
footer h1:nth-child(3) {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  color: #e71e1e;
}

@media (max-width: 720px) {
  footer {
    padding: 5rem 1rem;
  }
}/*# sourceMappingURL=style.css.map */