main {
  padding: 0 4rem;
  font-family: $principal-font-family;

  .main__title {
    color: $black-color;
    padding-bottom: 2rem;
  }

  .main__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 4rem;

    a {
      text-decoration: none;
    }

    &--cards {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      cursor: pointer;
      border: 1px solid $black-color;
      border-radius: 1rem;
      background-color: $white-color;

      .card__img {
        width: 6rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          border: 1px solid $black-color;
          border-radius: 1rem;
          object-fit: cover;
        }
      }

      .card__info {
        width: 10.5rem;
        color: $black-color;

        &--tag {
          color: $pink-color;
          font-size: 0.7rem;
          font-family: $secondary-font-family;
        }

        &--title {
          padding-bottom: 1.2rem;
          font-weight: 700;
        }

        button {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          transition: all 0.2s;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          background: $white-color;
          border: 1px solid $black-color;
          font-family: $principal-font-family;

          div {
            display: grid;
            place-content: center;
            width: 1.8rem;
            height: 1.8rem;
            border: 1px solid $pink-color;
            border-radius: 1rem;

            i {
              color: $pink-color;
            }
          }

          &:hover {
            color: $white-color;
            background-color: $black-color;
            transform: scale(1.05);
            transition: 0.5s all;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  main {
    padding: 0 2rem 2rem;

    .main__articles-left {
      flex-direction: column;
      &--image {
        width: 100%;
      }
    }

    .main__articles-right {
      flex-direction: column-reverse;
      &--image {
        width: 100%;
      }
    }
  }
}
