main {
  padding: 0 4rem;
  font-family: $principal-font-family;

  .main__title {
    color: $white-color;
    padding-bottom: 2rem;
  }

  .main__articles-left,
  .main__articles-right {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 6rem;

    &--image {
      object-fit: contain;
      height: 100%;
      width: 50%;
    }

    &--info {
      color: $white-color;

      h3 {
        padding-bottom: 1rem;
      }

      p {
        padding-bottom: 2.5rem;
        font-weight: 300;
      }

      a {
        text-decoration: none;
        color: $turquoise-color;
      }
    }
  }

  .main__articles-left {
    &--info {
      i {
        margin-left: 1rem;
      }
    }
  }

  .main__articles-right {
    &--info {
      text-align: right;

      i {
        margin-right: 1rem;
      }
    }
  }
}

@media (max-width: 720px) {
  main {
    padding: 0 2rem;

    .main__articles-left {
      flex-direction: column;
      &--image {
        width: 100%;
      }
    }

    .main__articles-right {
      flex-direction: column-reverse;
      &--image {
        width: 100%;
      }
    }
  }
}
