main {
  padding: 0 4rem;
  font-family: $principal-font-family;

  .main__title {
    color: $white-color;
    padding-bottom: 2rem;
  }

  .main__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;

    a {
      text-decoration: none;
    }

    &--cards {
      padding: 1rem;
      cursor: pointer;
      border-radius: 1rem;
      background-color: $bg-color-codePresentation;

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
      }

      .card__info {
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        color: $white-color;

        &--title {
          padding-bottom: 0.5rem;
          font-weight: 700;
        }

        &--body span {
          padding: 0.2rem 0.6rem;
          font-size: 0.7rem;
          background-color: $bg-transparent-white-tags;
          border-radius: 0.4rem;
        }
      }

      &:hover {
        transform: scale(1.05);
        transition: 0.5s all;
      }
    }
  }
}

@media (max-width: 720px) {
  main {
    padding: 0 2rem 2rem;

    .main__articles-left {
      flex-direction: column;
      &--image {
        width: 100%;
      }
    }

    .main__articles-right {
      flex-direction: column-reverse;
      &--image {
        width: 100%;
      }
    }
  }
}
