.cover {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 70vh;

  .cover__text-presentation {
    &--photo {
      display: flex;
      align-items: center;
      gap: 1rem;

      div {
        width: 10rem;
        height: 5rem;
        border-radius: 5rem;

        img {
          display: block;
          width: 100%;
          height: 100%;
          border: 2px solid $pink-color;
          border-radius: 5rem;
          object-fit: cover;
        }
      }
    }

    h1 {
      font-size: clamp(2rem, 5vw, 3.5rem);
      font-family: $principal-font-family;

      &:first-child {
        color: $black-color;
        font-weight: 400;

        span {
          color: $pink-color;
        }
      }

      &:nth-child(2) {
        color: $black-color;
      }

      &:nth-child(3) {
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid $pink-color;
        animation: typing 4s steps(30) infinite, blink 0.5s step-end;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $pink-color;
      }

      @keyframes typing {
        from {
          width: 0;
        }
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
    }
  }

  .cover__container {
    display: flex;
    flex-direction: column;

    .cover__code-presentation {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      background-color: $black-color;
      border: 1px solid $bg-transparent-white-tags;
      border-radius: 0.5rem;
      font-weight: 300;
      font-family: $secondary-font-family;

      &--numbers {
        p {
          padding-bottom: 0.02rem;
          color: $bg-transparent-white-tags;
        }
      }

      &--info {
        .blue-color {
          color: $pink-color;
        }
        .purple-color {
          color: $yellow-color;
        }
        .turquoise-color {
          color: $turquoise-color;
        }
        p {
          color: $white-color;
          padding-left: 1rem;
        }
        i {
          color: $bg-transparent-white-tags;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .cover {
    flex-direction: column;
    align-items: inherit;
    padding: 0 2rem 2rem;
    height: 110vh;

    .cover__container {
      display: flex;
      flex-direction: column;

      .cover__code-presentation {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        background-color: $black-color;
        border: 1px solid $bg-transparent-white-tags;
        border-radius: 0.5rem;
      }
    }
  }
}
