html.dark-mode {
  background-color: $primary-text;

  body {
    .nav {
      .nav__sections {
        li {
          a {
            color: $bg-color;

            &::after {
              background-color: $secondary-text;
            }
          }
        }
      }

      .nav__icons {
        i {
          color: $bg-color;
        }
      }
    }

    .cover__text-presentation {
      &--subtitles {
        div {
          h2:first-child {
            color: $bg-color;
          }
        }
      }
    }
  }
}
