* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
}

body {
  background: linear-gradient(
    -45deg,
    #08705a,
    #064133,
    #063844,
    #071647,
    #1f0642,
    #070c41,
    #393d46
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}