* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
}

html {
  background: radial-gradient(
      ellipse at center,
      $purple-color -90%,
      rgba(0, 0, 0, 0) 70%
    ),
    radial-gradient(ellipse at center, $blue-color -90%, rgba(0, 0, 0, 0) 70%),
    radial-gradient(
        ellipse at center,
        $turquoise-color -90%,
        rgba(0, 0, 0, 0) 70%
      )
      $black-color;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 900px 900px, 900px 900px, 900px 900px;
  background-attachment: fixed;

  animation: bganimation 30s infinite;
}

@keyframes bganimation {
  0% {
    background-position: -100% -100%, 200% 200%, -100% 200%, 200% -100%;
  }
  50% {
    background-position: 150% 100%, -200% 100%, 100% 0%, 0% 100%;
  }
  100% {
    background-position: -100% -100%, 200% 200%, -100% 200%, 200% -100%;
  }
}
