.switch {
  display: block;
  position: relative;
  width: 3rem;
  height: 2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $bg-color;
    }

    &:checked + .slider:before {
      left: calc(100% - (1.4rem + 0.3rem));
      background: $bg-color;
      box-shadow: $bg-btn-darkmode-color;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-text;
    transition: 0.4s;
    border-radius: 30px;

    &:before {
      position: absolute;
      content: "";
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 20px;
      left: 0.3rem;
      top: 50%;
      transform: translateY(-50%);
      background: $bg-btn-lightmode-color;
      transition: 0.4s;
    }
  }
}
