// colors
$white-color: #ffffff;
$bg-color-previewImages-projects: #ededed;
$turquoise-color: #00ffc8;
$circle-skyblue-color-codePresentation: #1fd2ff;
$circle-yellow-color-codePresentation: #ffab2e;
$circle-green-color-codePresentation: #27c93f;
$bg-color-codePresentation: #171a1b;
$principal-font-family: "Poppins", sans-serif;
$secondary-font-family: "Fira Sans", sans-serif;
