// colors
$bg-color: #fff5f5;
$primary-text: #0e0e0e;
$secondary-text: #e71e1e;
$bg-btn-lightmode-color: linear-gradient(40deg, #ff0080, #ff8c00 70%);
$bg-btn-darkmode-color: inset -3px -2px 5px -2px #8983f7,
  inset -10px -4px 0 0 #a3dafb;
$principal-font-family: "Nightydemo";
$secondary-font-family: "League Spartan", sans-serif;
