// colors
$white-color: #ffffff;
$turquoise-color: #00ffc8;
$circle-pink-color-codePresentation: #ff5f56;
$circle-yellow-color-codePresentation: #ffbd2e;
$circle-green-color-codePresentation: #27c93f;
$principal-font-family: "Poppins", sans-serif;
$secondary-font-family: "Fira Sans", sans-serif;
$bg-color-codePresentation: #171a1b;